@page
@model MedBook_RazorPages.Pages.NewMedicalServiceModel

@{
    ViewData["Title"] = "NewMedicalService";
}

<h1>NewMedicalService</h1>

<h4>MedicalService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="MedicalService.UserId" class="control-label"></label>
                <input asp-for="MedicalService.UserId" class="form-control" />
                <span asp-validation-for="MedicalService.UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MedicalService.LocationId" class="control-label"></label>
                <select asp-for="MedicalService.LocationId" class="form-control">
                    @foreach(var location in Model.locations)
                    {
                        <option value="@location.id">@location.City - @location.StreenName nr. @location.StreenNr</option>
                    }
                </select>
                @*<input asp-for="MedicalService.LocationId" class="form-control" />*@
                <span asp-validation-for="MedicalService.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.Name" class="control-label"></label>
                <input asp-for="MedicalService.Name" class="form-control" />
                <span asp-validation-for="MedicalService.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.Description" class="control-label"></label>
                <input asp-for="MedicalService.Description" class="form-control" />
                <span asp-validation-for="MedicalService.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.TargetBodySystem" class="control-label"></label>
                <input asp-for="MedicalService.TargetBodySystem" class="form-control" />
                <span asp-validation-for="MedicalService.TargetBodySystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.DayStartTime" class="control-label"></label>
                <input asp-for="MedicalService.DayStartTime" class="form-control" />
                <span asp-validation-for="MedicalService.DayStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.DayEndTime" class="control-label"></label>
                <input asp-for="MedicalService.DayEndTime" class="form-control" />
                <span asp-validation-for="MedicalService.DayEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalService.AppDefaultMinutes" class="control-label"></label>
                <input asp-for="MedicalService.AppDefaultMinutes" class="form-control" />
                <span asp-validation-for="MedicalService.AppDefaultMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
